<!DOCTYPE html>

<html lang="en">
  <head>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" ></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>BurgerHeaven Online</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main id="mainID">
      
      <div class="header">
	<h1>Welcome to Burger<br>Heaven Online</h1>
	<img src="https://burgerblog2017.files.wordpress.com/2017/01/burger-header.jpg">
      </div>
      <section class="burgers">
	<h2 >Select burger</h2>
	<p>This is where you execute burger selection</p>
	<div class="column">
	  <div id="burger1">
	    <div id="burger1Header">{{burger1Header}}</div>
	    <img class="pictures" v-bind:src="image1">
	    <ul id="burger1List">
	      <li v-for="item in burger1List">
		{{item.burger1info}}
		</li>
	    </ul>
	    <input type="checkbox" id="fireburger" value="Fire Burger" v-model="checkedBurger1">
	    <label for="fireburger">Click to order</label>
	  </div>
	  
	  <div id="burger2">
	    <div id="burger2Header">{{burger2Header}}</div>
	    <img class="pictures" v-bind:src="image2">
	    <ul id="burger2List">
	      <li v-for="item in burger2List">
		{{item.burger2info}}
		</li>
	    </ul>
	    <input type="checkbox" id="turkeyburger" value="Turkey Burger" v-model="checkedBurger2">
	    <label for="turkeyburger">Click to order</label>
	  </div>

	  <div id="burger3">
	    <div id="burger3Header">{{burger3Header}}</div>
	    <img class="pictures" v-bind:src="image3">
	    <ul id="burger3List">
	      <li v-for="item in burger3List">
		{{item.burger3info}}
	      </li>
	    </ul>
	    <input type="checkbox" id="doublecheese" value="Double Cheese" v-model="checkedBurger3">
	    <label for="doublecheese">Click to order</label>
	  </div>
      </section>
      
      <section class="customerinfo">
	<h2>Customer information</h2>
	<p>This is where you provide necessary information.</p>
	<h3>Delivery information</h3>
	<div class="info">
	  <p>
	    <label for="fullname">Full Name</label><br>
	    <input v-model="fullName" id="fullname" required="required" placeholder="First- and Last name" />
	  </p>
	  <p >
	    <label for="email">E-mail</label><br>
	    <input v-model="mail" id="email"  required="required" placeholder="E-mail address" />
	  </p>
	  
	  <p>
	    <label for="street">Street</label><br>
	    <input v-model="streetName" id="street" required="required" placeholder="Street name" />
	</p>
	  <p>
	    <label for="house">House</label><br>
	    <input v-model="houseNumber" id="house" required="required" placeholder="House number" />
	  </p>
	<p>
	  <label for="payment">Payment methods</label><br>
	  <select v-model="Payment" id="payment" placeholder="Choose payment method">
            <option>Credit card</option>
            <option>American Express</option>
            <option>Cash at delivery</option>
            <option>PayPal</option>
          </select>
	<p>
	  <input type="radio" id="Male" value="Male" v-model="Gender">
	  <label for="Male">Male</label>
	  <br>
	  <input type="radio" id="Female" value="Female" v-model="Gender">
	  <label for="Male">Female</label>
	  <br>
	  <input type="radio" id="Non-binary" value="Non-binary" v-model="Gender">
	  <label for="Non-binary">Non-binary</label>
	  <br>
	  <input type="radio" id="Undisclosed" value="Undisclosed" v-model="Gender">
	  <label for="Undisclosed">Undisclosed</label>
	  <br>
	</p>
	</div>
	<div id="button">
	  <button v-on:click="showData=true;" id="placebutton" type="submit">Place my order</button>
	  <p v-if="showData">{{fullName}}</p>
	  <p v-if="showData">{{mail}}</p>
	  <p v-if="showData">{{streetName}}</p>
	  <p v-if="showData">{{houseNumber}}</p>
	  <p v-if="showData">{{Payment}}</p>
	  <p v-if="showData">{{Gender}}</p>
	  <p v-if="showData">{{checkedBurger1}}</p>
	  <p v-if="showData">{{checkedBurger2}}</p>
	  <p v-if="showData">{{checkedBurger3}}</p>
	</div>
      </section>   
    </main>
    <footer>
      <HR>
      <p>2020 Hypothetical Burgers Inc.</p>
    </footer>
  </body>
</html>
